﻿@{
    var request = ViewContext.HttpContext.Request;
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var thisUrl = $"{request.Scheme}://{request.Host}{routeUrl}";

    var facebookShareUrl = $"http://www.facebook.com/sharer/sharer.php?u={thisUrl}";
}

@section metatags
{
    <meta property="og:url" content="@thisUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Information is power" />
    <meta property="og:description" content="Learn how much your business should really pay for services. Find the best vendors. Simple. Sign up for updates, sneak peeks, and special offers as we build a better way to buy business services." />
}

@section navbar
{
    <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/logo.small.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Vendor")">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Vendor Application
                        </a>
                    </li>
                    <li>
                        <a href="@facebookShareUrl">
                            <i class="fa fa-facebook-square"></i>
                            Share
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@lumaven.com">
                            <i class="fa fa-envelope-o"></i>
                            Contact Us
                        </a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>    
}

<div class="background-white-frosted"></div>
<md-content ng-controller="HomeController as ctrl" 
            style="background: none;"
            ng-cloak
            flex>
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">Coming soon</h1>
                <p class="lead"><h3>Information is power. Learn how much your business should really pay for services. Find the best vendors. Simple.</h3></p>
                <p class="lead">
                    <h4>Sign up for updates, sneak peeks, and special offers as we build a better way to buy business services.</h4>
                    <form name="notifyMe"
                          class="form-inline"
                          role="form"
                          novalidate
                          layout="column"
                          layout-align="center center">
                        <div layout="row"
                             layout-xs="column">
                            <md-input-container class="md-block"
                                                ng-if="!ctrl.success">
                                <label>Email</label>
                                <md-icon>email</md-icon>
                                <input type="email"
                                       ng-model="ctrl.email"
                                       name="email"
                                       ng-pattern="@Html.Raw("/^.+@.+\\..+$/")">
                                <div ng-messages="notifyMe.email.$error"
                                     ng-if="notifyMe.email.$touched && notifyMe.email.$dirty && notifyMe.email.$invalid">
                                    <div ng-message-exp="['required', 'pattern']">
                                        Your email must look like an email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <div class="md-block"
                                 style="margin-top: 9px;"
                                 ng-if="!ctrl.success">
                                <md-button type="submit"
                                           class="md-primary md-raised"
                                           ng-click="ctrl.notify(notifyMe.email)">
                                    Keep Me Posted
                                </md-button>
                            </div>
                            <div class="success-indicator" style="display: inline-block;">
                                <i class="fa fa-check"
                                   aria-hidden="true"></i>
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <a href="#">Lumaven</a> <i class="fa fa-copyright copyright"></i> 2016
        </div>
    </div>
</md-content>