<div flex="none"
     hide-xs>
    <h3>
        <i class="fa fa-long-arrow-right"
            aria-hidden="true"></i>
    </h3>
</div>
<ng-form name="innerForm"
            flex="nogrow"
            class="chip"
            aria-hidden="true">

    <h3 ng-bind-html="model.renderHtml(model.title)"
        style="font-size: 24px"></h3>
    <br />
    <br />
    <info ng-if="model.data.hint">
        <i class="fa fa-info"
            aria-hidden="true">
        </i> {{model.data.hint}}
        <br />
        <br />
    </info>

    <!-- Autocomplete -->
    <div ng-if="model.data.type == 'autocomplete'">
        <md-autocomplete ng-disabled="model.isDisabled()"
                         md-no-cache="model.data.noCache"
                         md-selected-item="model.answer"
                         md-search-text-change="model.searchTextChange(model.searchText)"
                         md-search-text="model.searchText"
                         md-selected-item-change="model.selectedItemChange(item)"
                         md-items="item in model.querySearch(model.searchText)"
                         md-item-text="item"
                         md-min-length="0"
                         md-input-name="innerInput"
                         ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <md-item-template>
                <span md-highlight-text="model.searchText"
                        md-highlight-flags="^i">
                    {{item}}
                </span>
            </md-item-template>
            <md-not-found>
                No search result matching "{{model.searchText}}" were found.
                <a ng-click="model.newSearchNode(model.searchText)">Create a new one!</a>
            </md-not-found>
        </md-autocomplete>
        <br />
    </div>

    <!-- Autocomplete multiple selection -->
    <div ng-if="model.data.type == 'autocompletemultiple' && !model.enablePopoverAutocomplete">
        <md-chips ng-model="model.answer"
                  md-autocomplete-snap
                  md-require-match="model.data.requireMatch"
                  md-max-chips="{{model.data.max}}"
                  ng-disabled="model.isDisabled()"
                  flex="nogrow">
            <md-autocomplete ng-disabled="model.isDisabled()"
                             md-selected-item="model.selectedItem"
                             md-require-match="model.data.requireMatch"
                             md-autoselect="true"
                             md-no-cache="true"
                             md-select-on-match="true"
                             md-search-text="model.searchText"
                             md-items="item in model.querySearch(model.searchText)"
                             md-item-text="item"
                             md-min-length="0"
                             md-input-name="innerInput"
                             ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
                <span md-highlight-text="model.searchText">{{item}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip}}</span>
            </md-chip-template>
        </md-chips>
        <br />
    </div>
    <div ng-if="model.data.type == 'autocompletemultiple' && model.enablePopoverAutocomplete">
        <md-chips ng-disabled="model.isDisabled()"
                  ng-model="model.answer"
                  flex="nogrow">
            <input type="text"
                   class="popover-autocomplete"
                   readonly
                   ng-click="model.openSearchDialog($event)">
            <md-chip-template>
                <span>{{$chip}}</span>
            </md-chip-template>
        </md-chips>
        <br />
    </div>

    <!-- Yes or no -->
    <div ng-if="model.data.type == 'yesorno'">
        <md-radio-group name="innerInput"
                        ng-model="model.answer"
                        ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <md-radio-button value="Yes"
                                class="md-primary"
                                ng-disabled="model.isDisabled()">
                Yes
            </md-radio-button>
            <md-radio-button value="No"
                                ng-disabled="model.isDisabled()">
                No
            </md-radio-button>
        </md-radio-group>
    </div>

    <!-- Multiple choice (single answer) -->
    <div ng-if="model.data.type == 'multiplechoice'">
        <md-radio-group name="innerInput"
                        ng-model="model.answer"
                        ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <md-radio-button ng-repeat="choice in model.data.choices"
                                value="{{choice.value}}"
                                ng-disabled="model.isDisabled()">
                {{choice.text}}
            </md-radio-button>
        </md-radio-group>
    </div>

    <!-- Single text answer -->
    <div ng-if="model.data.type == 'singletext'">
        <md-input-container class="md-block">
            <label>{{model.data.label}}</label>
            <input type="text"
                   ng-disabled="model.isDisabled()"
                   ng-model="model.answer"
                   name="innerInput"
                   ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <div ng-messages="innerForm.innerInput.$error"
                 ng-show="innerForm.innerInput.$invalid && innerForm.innerInput.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>

    <!-- Fullname answer -->
    <div ng-if="model.data.type == 'fullname'"
            layout="row"
            layout-xs="column">
        <md-input-container class="md-block">
            <label>First</label>
            <input type="text"
                    ng-disabled="model.isDisabled()"
                    ng-model="model.answer[0]"
                    name="innerInput_0"
                    ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <div ng-messages="innerForm.innerInput_0.$error"
                    ng-show="innerForm.innerInput_0.$invalid && innerForm.innerInput_0.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Last</label>
            <input type="text"
                    ng-disabled="model.isDisabled()"
                    ng-model="model.answer[1]"
                    name="innerInput_1"
                    ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <div ng-messages="innerForm.innerInput_1.$error"
                    ng-show="innerForm.innerInput_1.$invalid && innerForm.innerInput_1.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>

    <!-- Number answer -->
    <div ng-if="model.data.type == 'number'">
        <md-input-container class="md-block">
            <label>{{model.data.label}}</label>
            <input type="number"
                   step="{{model.data.step}}"
                   ng-disabled="model.isDisabled()"
                   ng-model="model.answer"
                   name="innerInput"
                   min="{{model.data.min}}"
                   max="{{model.data.max}}"
                   ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <div ng-messages="innerForm.innerInput.$error"
                    ng-show="innerForm.innerInput.$invalid && innerForm.innerInput.$dirty">
                <div ng-message="required">This is required!</div>
                <div ng-message="min">Minimum is {{model.data.min}}!</div>
                <div ng-message="max">Maximum is {{model.data.max}}!</div>
            </div>
        </md-input-container>
    </div>

    <!-- Money answer -->
    <div ng-if="model.data.type == 'money'">
        <md-input-container class="md-block">
            <label>{{model.data.label}}</label>
            <md-icon md-font-icon="fa fa-usd"></md-icon>
            <input type="number"
                    step="{{model.data.step}}"
                    ng-disabled="model.isDisabled()"
                    ng-model="model.answer"
                    name="innerInput"
                    min="0"
                    ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}">
            <div ng-messages="innerForm.innerInput.$error"
                    ng-show="innerForm.innerInput.$invalid && innerForm.innerInput.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>

    <!-- Email answer -->
    <div ng-if="model.data.type == 'email'">
        <md-input-container class="md-block">
            <label>{{model.data.label}}</label>
            <md-icon>email</md-icon>
            <input type="email"
                    ng-disabled="model.isDisabled()"
                    ng-model="model.answer"
                    name="innerInput"
                    ng-attr-ng-required="{{ model.data.optional ? 'false' : 'true' }}"
                    ng-pattern="/^.+@.+\..+$/"
                    ng-change="model.validate(model.answer, innerForm.innerInput)"
                    ng-model-options="{debounce: 750}">
            <div ng-messages="innerForm.innerInput.$error"
                    ng-show="innerForm.innerInput.$invalid && innerForm.innerInput.$dirty">
                <div ng-message-exp="['required', 'pattern']">
                    Your email must look like an email address.
                </div>
                <div ng-message="unique">
                    This email address has already been taken.
                </div>
            </div>
        </md-input-container>
    </div>

    <!-- Textarea answer -->
    <div ng-if="model.data.type == 'textarea'">
        <md-input-container class="md-block">
            <label>{{model.data.label}}</label>
            <textarea ng-disabled="model.isDisabled()"
                        ng-model="model.answer"
                        name="innerInput"
                        required
                        rows="{{model.data.rows}}"
                        md-maxlength="{{model.data.maxlength}}"></textarea>
            <div ng-messages="innerForm.innerInput.$error"
                    ng-show="innerForm.innerInput.$invalid && innerForm.innerInput.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>

    <div>
        <button ng-if="model.nextEnabled(innerForm)"
                ng-click="model.nextQuestion({questionIndex: model.currentIndex, answer: model.answer})"
                type="button"
                class="btn btn-default next">
            <i class="fa fa-check" aria-hidden="true"></i>
            <span ng-if="model.isLastQuestion">
                Submit
            </span>
        </button>
    </div>
    <md-progress-circular ng-if="model.deferNextEnabled"
                            class="md-hue-2"
                            md-diameter="20px">
    </md-progress-circular>
</ng-form>