<div flex-offset="15"
     flex-offset-xs="0">
    <div id="{{model.prologue.elementId}}"
         class="intro"
         layout="row"
         layout-xs="column"
         layout-align="center center"
         layout-padding
         ng-class="{'focused': !model.started }">
        <div flex="none">
            <i class="{{model.prologue.icon.class}}"
                style="font-size: 100px; color: {{model.prologue.icon.color}};"></i>
        </div>
        <div style="font-size: 20px; font-weight: normal;"
             flex="auto"
             flex-offset="5"
             layout-padding>
            <h3>{{model.prologue.title}}</h3>
            <p>
                {{model.prologue.description}}
            </p>
            <div>
                <button type="button"
                        class="btn btn-default btn-skinny"
                        ng-click="model.getStarted()"
                        ng-disabled="model.started">
                    <b>{{model.prologue.ctaText}}</b>
                </button>
            </div>
        </div>
    </div>
    <question ng-repeat="questionKey in model.questionsOrder"
              data="model.questions[questionKey]"
              next-question="model.nextQuestion(questionIndex, answer)"
              current-index="model.questionIndex"
              is-last-question="model.isAtLastQuestion"
              index="$index"
              q-title="model.parseTitle(model.questions[questionKey].title)"
              id="{{questionKey}}"
              flex="auto"
              layout="row"
              ng-class="{'focused': model.questionIndex == $index }">
    </question>
    <div id="{{model.epilogue.elementId}}"
         layout="row"
         layout-xs="column"
         layout-align="center center"
         layout-padding
         class="end"
         ng-class="{'focused': model.completed }">
        <div flex="none">
            <i class="{{model.epilogue.icon.class}}"
                style="font-size: 100px; color: {{model.epilogue.icon.color}};"></i>
        </div>
        <div style="font-size: 20px; font-weight: normal;"
             flex="auto"
             flex-offset="5"
             layout-padding
             layout="column">
            <h3>{{model.epilogue.title}}</h3>
            <p>
                {{model.epilogue.description}}
            </p>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div flex
      id="footer"
      ng-if="model.started">
    <div layout="row"
         layout-padding
         layout-align="center center">
        <md-progress-linear md-mode="determinate"
                            value="{{model.questionIndex/model.questionsOrder.length*100}}"
                            ng-if="!model.submitInProgress">
        </md-progress-linear>
        <md-progress-linear md-mode="indeterminate"
                            ng-if="model.submitInProgress">
        </md-progress-linear>
        <div>
            <button ng-if="model.questionIndex > 0 && !model.completed && !model.submitInProgress"
                    ng-click="model.previousQuestion()"
                    type="button"
                    class="btn btn-default"
                    style="margin-left: 10px;">
                <i class="fa fa-arrow-up"
                   aria-hidden="true">
                </i>
            </button>
        </div>
    </div>
</div>