﻿<!DOCTYPE html>
<html ng-app="LumavenFrontend">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @if (IsSectionDefined("metatags"))
    {
        @RenderSection("metatags", required: false);
    }
    else
    {
        <meta name="title" content="Lumaven" />
        <meta name="author" content="Dylan Sumiskum" />
        <meta name="description" content="A better way to buy business services. Learn how much your business should really pay for services." />
        <meta name="Keywords" content="lumaven, business services, consulting services, business service marketplace, consulting marketplace, sell business services online, buy business services online, business service pricing" />
    }
    
    <title>Lumaven</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />
	
    <environment names="dev,debug">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Open+Sans|Open+Sans+Condensed:300|Grand+Hotel" rel="stylesheet">
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment names="stg,prd">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/angular-material/angular-material.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Open+Sans|Open+Sans+Condensed:300|Grand+Hotel" rel="stylesheet">
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("style", required: false)
</head>
<body layout="row">
    @if (IsSectionDefined("background"))
    {
        @RenderSection("background");
    }
    @if (IsSectionDefined("navbar"))
    {
        @RenderSection("navbar");
    }
    else
    {
        <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    }
    
    @RenderBody()
      
    <environment names="dev,debug">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
		<script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-scroll/angular-scroll.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment names="stg,prd">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-animate/angular-animate.min.js"></script>
        <script src="~/lib/angular-aria/angular-aria.min.js"></script>
        <script src="~/lib/angular-messages/angular-messages.min.js"></script>
		<script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/lib/angular-scroll/angular-scroll.min.js"></script>
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
